In [1]:
import pandas as pd 
import numpy as np

#Business Questions:
1) What is the Number one most popular house type/apartment type (by neighborhood)? 
2) Over-year selling price, line chart

In [158]:
df_03 = pd.read_excel('C:/Users/qw508/OneDrive/Documents/Manhattan/2003_manhattan.xls',skiprows=3)#.reset_index()
df_04 = pd.read_excel('C:/Users/qw508/OneDrive/Documents/Manhattan/2004_manhattan.xls',skiprows=3)#.reset_index()
df_05 = pd.read_excel('C:/Users/qw508/OneDrive/Documents/Manhattan/2005_manhattan.xls',skiprows=3)#.reset_index()
df_06 = pd.read_excel('C:/Users/qw508/OneDrive/Documents/Manhattan/2006_manhattan.xls',skiprows=3)#.reset_index()
df_07 = pd.read_excel('C:/Users/qw508/OneDrive/Documents/Manhattan/2007_manhattan.xls',skiprows=3)#.reset_index()
df_08 = pd.read_excel('C:/Users/qw508/OneDrive/Documents/Manhattan/2008_manhattan.xls',skiprows=3)#.reset_index()
df_09 = pd.read_excel('C:/Users/qw508/OneDrive/Documents/Manhattan/2009_manhattan.xls',skiprows=3)#.reset_index()
df_10 = pd.read_excel('C:/Users/qw508/OneDrive/Documents/Manhattan/2010_manhattan.xls',skiprows=3)#.reset_index()
df_11 = pd.read_excel('C:/Users/qw508/OneDrive/Documents/Manhattan/2011_manhattan.xls',skiprows=4)#.reset_index()
df_12 = pd.read_excel('C:/Users/qw508/OneDrive/Documents/Manhattan/2012_manhattan.xls',skiprows=4)#.reset_index()
df_13 = pd.read_excel('C:/Users/qw508/OneDrive/Documents/Manhattan/2013_manhattan.xls',skiprows=4)#.reset_index()
df_14 = pd.read_excel('C:/Users/qw508/OneDrive/Documents/Manhattan/2014_manhattan.xls',skiprows=4)#.reset_index()
df_15 = pd.read_excel('C:/Users/qw508/OneDrive/Documents/Manhattan/2015_manhattan.xls',skiprows=4)#.reset_index()
df_16 = pd.read_excel('C:/Users/qw508/OneDrive/Documents/Manhattan/2016_manhattan.xls',skiprows=4)#.reset_index()
df_17 = pd.read_excel('C:/Users/qw508/OneDrive/Documents/Manhattan/2017_manhattan.xls',skiprows=4)#.reset_index()
df_18 = pd.read_excel('C:/Users/qw508/OneDrive/Documents/Manhattan/2018_manhattan.xlsx',skiprows=4)#.reset_index()
df_19 = pd.read_excel('C:/Users/qw508/OneDrive/Documents/Manhattan/2019_manhattan.xlsx',skiprows=4)#.reset_index()
df_rest = pd.read_excel('C:/Users/qw508/OneDrive/Documents/Manhattan/202021_manhattan.xls',skiprows=4)#.reset_index()

In [160]:
df_11.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

In [163]:
df_12.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

In [162]:
#Remove /n in column names 
df_12.columns = df_12.columns.str.replace('\n', '')
df_13.columns = df_13.columns.str.replace('\n', '')
df_14.columns = df_14.columns.str.replace('\n', '')
df_15.columns = df_15.columns.str.replace('\n', '')
df_16.columns = df_16.columns.str.replace('\n', '')
df_17.columns = df_17.columns.str.replace('\n', '')
df_18.columns = df_18.columns.str.replace('\n', '')
df_19.columns = df_19.columns.str.replace('\n', '')

In [164]:
frames = [df_03, df_04, df_05, df_06, df_07, df_08, df_09, df_10, df_11, df_12, df_13, df_14, df_15, df_16, df_17,
         df_18, df_19, df_rest]
df = pd.concat(frames)

C:\Users\qw508\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

In [165]:
#get column index 
df.shape

(401746, 25)

In [167]:
df.to_excel('C:/Users/qw508/OneDrive/Documents/Manhattan/df.xlsx')

In [166]:
df.head()

,ADDRESS,APARTMENT NUMBER,BLOCK,BOROUGH,BUILDING CLASS AS OF FINAL ROLL 17/18,BUILDING CLASS AS OF FINAL ROLL 18/19,BUILDING CLASS AT PRESENT,BUILDING CLASS AT TIME OF SALE,BUILDING CLASS CATEGORY,COMMERCIAL UNITS,...,RESIDENTIAL UNITS,SALE DATE,SALE PRICE,TAX CLASS AS OF FINAL ROLL 17/18,TAX CLASS AS OF FINAL ROLL 18/19,TAX CLASS AT PRESENT,TAX CLASS AT TIME OF SALE,TOTAL UNITS,YEAR BUILT,ZIP CODE
0,746 EAST 6 STREET,,375,1,NaN,NaN,B9,B9,02 TWO FAMILY HOMES,0.0,...,2.0,2003-01-22,1800000,NaN,NaN,1,1,2.0,1899.0,10009
1,316 EAST 3 STREET,,372,1,NaN,NaN,C3,C3,07 RENTALS - WALKUP APARTMENTS,0.0,...,4.0,2003-12-18,0,NaN,NaN,2A,2,4.0,1900.0,10009
2,316 EAST 3 STREET,,372,1,NaN,NaN,C3,C3,07 RENTALS - WALKUP APARTMENTS,0.0,...,4.0,2003-12-18,0,NaN,NaN,2A,2,4.0,1900.0,10009
3,125 AVENUE D,,378,1,NaN,NaN,C4,C4,07 RENTALS - WALKUP APARTMENTS,1.0,...,6.0,2003-10-23,426000,NaN,NaN,2B,2,7.0,1910.0,10009
4,610 EAST 9 STREET,,391,1,NaN,NaN,C1,C1,07 RENTALS - WALKUP APARTMENTS,0.0,...,24.0,2003-02-28,0,NaN,NaN,2,2,24.0,1910.0,10009